### **Python Homework Assignment: Variables, Types, and Operators**

**Objective:** Understand the basic concepts of variables, their types, and how operators can be used to manipulate them.

#### Start a new JupyterLab Notebook and add code cells as needed. You can also add markdown cells to keep track of the questions.

---

**1. Variables and Assignment**

a) Declare a variable `name` and assign your name to it. Print the variable.

b) Declare a variable `age` and assign your age to it. Print the variable.

c) Swap the values of `name` and `age` without using a temporary variable. Print the new values of `name` and `age`.

In [92]:
name = 'Dave'
print(name)

Dave

In [94]:
age = 21
print(age)

21

In [95]:
name,age = age,name
print(name)
print(age)

21
Dave

**2. Data Types**

a) Using the `type()` function, determine and print the data type of the following values. Three of these will be new to you, but we'll cover them soon!

- 5
- 5.0
- "5"
- [5]
- (5, )
- {5}
- True

b) Declare a variable `is_student` and assign it the value `True` if you're a student, otherwise `False`. Print the variable.

---

In [96]:
print(type(5),type(5.0),type("5"),type([5]),type((5, )),type({5}),type(True))

<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'tuple'> <class 'set'> <class 'bool'>

In [97]:
is_student = True
print(is_student)
type(is_student)

True

bool

**3. Basic Operators**

a) Using the `+`, `-`, `*`, and `/` operators, perform the following operations:

- Add 15 and 23
- Subtract 50 from 34
- Multiply 8 by 7
- Divide 100 by 4

Print all results.

b) Declare two variables `a = 10` and `b = 5`. Calculate and print the following:

- The remainder when `a` is divided by `b`
- The result of `a` raised to the power of `b`

---

In [99]:
15+23

38

In [100]:
34-50

-16

In [101]:
8*7

56

In [102]:
100/4

25.0

In [71]:
a = 10
b = 5

In [104]:
a%b

0

In [73]:
a**b

100000

**4. Type Conversion**

a) Convert the string `"123"` to an integer and print the result.

b) Convert the integer `456` to a string and print the result.

c) Convert the float `78.9` to an integer. What value do you get?

---

In [74]:
w = int("123")
print(w)
print(type(w))

123
<class 'int'>

In [75]:
q = str(456)
print(q)
print(type(q))

456
<class 'str'>

In [76]:
t = int(78.9)
print(t)
print(type(t))
#i get a whole number, specifically 78. I would expect round to occur and be 79. Guess not

78
<class 'int'>

**5. String Manipulation with Operators**

a) Concatenate (join) the following strings and print the result: `"Python"` and `"Rocks"`.

b) Repeat the string `"Hello "` three times using the multiplication operator. Print the result.

In [77]:
first = '"Python"'
second = '"Rocks"'
third = first + second
print(third)

"Python""Rocks"

In [78]:
hi = '"Hello"'
three = 3
result = hi*three
print(result)

"Hello""Hello""Hello"

**6. Bonus Question**

Declare three variables: `x = 5`, `y = 10`, and `z = 15`. Using only the arithmetic operators (`+`, `-`, `*`, `/`) and the variable names, swap the values of the variables such that `x` has the value of `y`, `y` has the value of `z`, and `z` has the value of `x`. 

(So, for example, x = x + z would be fair, but x = 20 would be cheating!)

---

Good luck!

In [105]:
x = 5
y = 10
z = 15

In [80]:
# we now want x to be 10, y to be 15 and z to be 5

In [106]:
x = z - x
z = z - y
y = y + z

In [107]:
print("x=",x,"y=",y,"z=",z)

x= 10 y= 15 z= 5