## Python Looping Homework Assignment

### Part 1: `for` loops with lists and `range()`

#### 1. Lists:

a) Write a program (i.e. code cell) that takes a list of numbers and prints each number multiplied by 2.

Example Input: `[2, 4, 6, 8]`

Example Output:
```
4
8
12
16
```

b) Given a list of strings, write a program that prints out the elements of the string in reverse order without reversing the list itself.

Example Input: `["apple", "pear", "kiwi", "grape"]`

Example Output:
```
grape
kiwi
pear
apple
```

In [59]:
list_num = [2, 4, 6, 8]

In [60]:
for i in list_num :
    multiply = i * 2
    print(multiply)

4
8
12
16

In [61]:
list_str = ["apple", "pear", "kiwi", "grape"]

In [62]:
last_index = len(list_str) - 1

for i in range(last_index, -1, -1):
    print(list_str[i])

grape
kiwi
pear
apple

#### 2. Using the range() function:

a) Write code that uses a `for` loop and the `range()` function to print numbers 0 through 9.

b) Use the `range()` function to print numbers from 5 to 15.

c) Create a program that prints out the first 10 even numbers using the `range()` function.

In [63]:
for i in range(0,10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [64]:
for w in range(5,16) :
    print(w)

5
6
7
8
9
10
11
12
13
14
15

In [65]:
for c in range(2,21) :
    if c%2==0:
        print(c)

2
4
6
8
10
12
14
16
18
20

### Part 2: Dictionaries and Loops

a) Create a dictionary where the keys are student names and the values are their favorite colors. Write a program that prints out each student's name and their favorite color.

Example Output:
```
Alex's favorite color is Blue.
Jordan's favorite color is Green.
Taylor's favorite color is Red.
```

b) Given a dictionary with product names as keys and their quantities as values, write a program that doubles the quantity of each product and prints out the updated quantities.

Example Input: `{"apple": 5, "banana": 3, "cherries": 10}`

Example Output:
```
apple now has 10.
banana now has 6.
cherries now have 20.
```

In [66]:
Dict = {"Blue": "Alex" ,
        "Green": "Jordan" ,
        "Red": "Taylor"}

In [67]:
for color in Dict :
    name = Dict[color]
    print(name + "'s favorite color is", color)

Alex's favorite color is Blue
Jordan's favorite color is Green
Taylor's favorite color is Red

In [68]:
fruit = {"apple": 5, "banana": 3, "cherries": 10}

In [69]:
for number in fruit :
    two = fruit[number]*2
    print(number, 'now has', two)

apple now has 10
banana now has 6
cherries now has 20

### Part 3: Storing Results of a For Loop in a New List and List Comprehensions
#### 1. not using list comprehension

a) Write a program that takes a list of numbers and creates a new list with each number multiplied by 2.

Example Input: `[1, 3, 5, 7]`

Example Output (new list): `[2, 6, 10, 14]`

b) Given a list of words, create a new list that contains the first letter of each word.

Example Input: `["Apple", "Banana", "Cherry", "Date"]`

Example Output (new list): `["A", "B", "C", "D"]`

In [70]:
nom = [1, 3, 5, 7]

In [71]:
lst_nom = []
for two_nom in nom:
    twice = two_nom*2
    lst_nom.append(twice)
    
print(lst_nom)

[2, 6, 10, 14]

In [72]:
lst_fruit = ["Apple", "Banana", "Cherry", "Date"]

In [73]:
first_lst = []
for letter_lst in lst_fruit :
    first_letter = letter_lst[-0]
    first_lst.append(first_letter)

print(first_lst)

['A', 'B', 'C', 'D']

#### 2. using list comprehension
c) Use a list comprehension to compute and save the square roots of a list of numbers from 1 to 10.

Input list: `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`

Expected Output: 
```
[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]
```

d) Given a list of words, use a list comprehension to create a new list containing the last letter of each word.

Example Input: `["apple", "pear", "kiwi", "grape"]`

Expected Output: `["e", "r", "i", "e"]`

---

In [74]:
list_comp_num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
for i in list_comp_num :
    root = i**0.5
    print(root)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795

In [76]:
lst_words = ["apple", "pear", "kiwi", "grape"]

In [77]:
last_lst = []
for lst_w in lst_words :
    letter = lst_w[-1::]
    last_lst.append(letter)

print(last_lst)

['e', 'r', 'i', 'e']

### Part 4: nested loops

a) Write some code to "flatten" the following list-of-lists-of-lists:
```
deep_list = [[[1, 2, 3, 4], [5, 6, 7, 8]],
            [[9, 10, 11, 12], [13, 14, 15, 16]],
            [[17, 18, 19, 20], [21, 22, 23, 42]]]
```
(that is, make into a simple list of `ints`)

b) Write code that, given a list of strings like this:
```
myStrLst = ["able", "was", "I", "ere", "I", "saw", "elba"]
```
reverses ***both*** the order of the strings in the list ***and*** the order of the letters in each string.  

**Warning** This one is tough, and requires you put together a few of the skills we've learned, so don't get frustrated if it takes you a lot of trial and error! That's what coding is often like!

In [78]:
deep_list = [[[1, 2, 3, 4], [5, 6, 7, 8]],
            [[9, 10, 11, 12], [13, 14, 15, 16]],
            [[17, 18, 19, 20], [21, 22, 23, 42]]]

In [79]:
print(deep_list)

[[[1, 2, 3, 4], [5, 6, 7, 8]], [[9, 10, 11, 12], [13, 14, 15, 16]], [[17, 18, 19, 20], [21, 22, 23, 42]]]

In [80]:
flat = []
for i in range(3) :
    for j in range(2) :
        for k in range(4) :
            not_flat = deep_list[i][j][k]
            flat.append(not_flat)
        
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 42]

In [81]:
myStrLst = ["able", "was", "I", "ere", "I", "saw", "elba"]

In [82]:
new_lst = []
new_lst_two = []

for mystr in myStrLst : 
    myrev = mystr[::-1]
    new_lst.append(myrev)
    
last_index = len(new_lst) - 1

for i in range(last_index,-1,-1):
    new_lst_two.append(new_lst[i])
    
print(new_lst_two)

['able', 'was', 'I', 'ere', 'I', 'saw', 'elba']