### Homework on Pandas Basics

---

#### Series Exercises:

1. **Create a Series:**
   - Create a Series named `fruits` with the data: 'apple', 'banana', 'cherry', 'date', and assign it an index of 'a', 'b', 'c', 'd' respectively.
   - Print the Series.
   - Print the `Index` of the series.
   
2. **Accessing Elements:**
   - Print the second  ("b") element of the `fruits` Series.

3. **Series Operations:**
   - Create a Series with the squares of the numbers 1 through 5. 
   - Add 10 to each item in the series (hint: there a *method* to this madness).

---

In [1]:
import pandas as pd

1. Create a Series;

In [2]:
fruits = {'apple' : 'a',
          'banana' : 'b',
          'cherry' : 'c',
          'date' : 'd'}

fruits_s = pd.Series(fruits)
fruits_s

apple     a
banana    b
cherry    c
date      d
dtype: object

In [3]:
fruits_i = pd.Index(fruits)
fruits_i

Index(['apple', 'banana', 'cherry', 'date'], dtype='object')

2. Accessing Elements:

In [4]:
print(fruits_s[1])

b

3. Series Operations:

In [5]:
num = pd.Series([1, 2, 3, 4, 5])

sqa = []

In [6]:
for i in num:
    sqa_2_10 = i ** 2 + 10
    
    sqa.append(sqa_2_10)

In [7]:
sqa_s = pd.Series(sqa)

In [8]:
sqa_s

0    11
1    14
2    19
3    26
4    35
dtype: int64

---

#### DataFrame Exercises:

1. **Create a DataFrame:**
   - Create a DataFrame named `students` with the columns: 'Name', 'Age', 'Grade'.
   - Populate it with data for three fictional students.

2. **Accessing Data:**
   - Print the `Name` column of the `students` DataFrame.
   
4. **DataFrame Operations:**
   
   - Add a new column to the `students` DataFrame named `Graduated`, which should be `True` if the student's grade is 'A' and `False` otherwise.
   - Print the updated DataFrame.
   
5. **Maths:**
   
   - Calculate and print the average age of the students.
   
6. **Sorting:**
   - Sort the `students` DataFrame based on the `Age` column in descending order and print it.

7. **Tidy Data**.
   - Re-make the cognitive health data frame from class so it is "tidy", with each column as variable and each row an observation.
   - Compute the mean and standard deviation of all variables.
   - Compute the mean and standard error for the happiness variable (there might even be a method for computing standard error...).

1. Create a DataFrame

In [9]:
student_data = [
    ["Joe", 20, 'B'],
    ["Bill", 21, 'A'],
    ["Mike", 18, 'C']
]

columns = ["Name", "Age", "Grade"]

student = pd.DataFrame(student_data, columns=columns)

student

   Name  Age Grade
0   Joe   20     B
1  Bill   21     A
2  Mike   18     C

2. Accessing Data

In [10]:
student["Name"]

0     Joe
1    Bill
2    Mike
Name: Name, dtype: object

3. DataFrame operations

In [11]:
student["Graduated"] = student["Grade"] == 'A'

student

   Name  Age Grade  Graduated
0   Joe   20     B      False
1  Bill   21     A       True
2  Mike   18     C      False

4. Maths

In [12]:
student["Age"].mean()

19.666666666666668

5. Sorting

In [13]:
student.sort_values("Age")

   Name  Age Grade  Graduated
2  Mike   18     C      False
0   Joe   20     B      False
1  Bill   21     A       True

6. Tidy Data

In [15]:
happiness = {"subject 1" : 10,
             "subject 2" : 15,
             "subject 3" : 18,
             "subject 4" : 31}
happiness_s = pd.Series(happiness)


language = {"subject 1" : 2,
            "subject 2" : 4,
            "subject 3" : 7,
            "subject 4" : 2}
language_s = pd.Series(language)

energy = {"subject 1" : 5,
            "subject 2" : 9,
             "subject 3" : 12,
             "subject 4" : 7}
energy_s = pd.Series(energy)

memory = {"subject 1" : 3,
             "subject 2" : 6,
             "subject 3" : 9,
             "subject 4" : 4}
memory_s = pd.Series(memory)

In [21]:
dict_health = {"happieness" : happiness_s,
               "language" : language_s,
               "energy" : energy_s,
               "memory" : memory_s}

df = pd.DataFrame(dict_health)

df

           happieness  language  energy  memory
subject 1          10         2       5       3
subject 2          15         4       9       6
subject 3          18         7      12       9
subject 4          31         2       7       4

In [22]:
df["happieness"].mean()

18.5

In [23]:
df["language"].mean()

3.75

In [24]:
df["energy"].mean()

8.25

In [25]:
df["memory"].mean()

5.5

In [28]:
df["happieness"].std()

8.962886439832502

In [29]:
df["language"].std()

2.362907813126304

In [30]:
df["energy"].std()

2.9860788111948193

In [31]:
df["memory"].std()

2.6457513110645907

In [33]:
df["happieness"].mean()

18.5

In [40]:
st = df["happieness"].std()
e = st / len(df["happieness"])
se

2.2407216099581255